In [1]:
import pandas as pd

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

<h1>Working with SQL</h1>

In [3]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 487.6 kB/s eta 0:00:25
      --------------------------------------- 0.3/11.9 MB 2.4 MB/s eta 0:00:05
     ---- ----------------------------------- 1.5/11.9 MB 9.3 MB/s eta 0:00:02
     ---------- ----------------------------- 3.0/11.9 MB 15.9 MB/s eta 0:00:01
     ------------ --------------------------- 3.6/11.9 MB 14.5 MB/s eta 0:00:01
     -------------- ------------------------- 4.3/11.9 MB 15.2 MB/s eta 0:00:01
     --------------- ------------------------ 4.7/11.9 MB 14.4 MB/s eta 0:00:01
     ------------------ --------------------- 5.4/11.9 MB 15.1 MB/s eta 0:00:01
     -------------------- ------------------- 6.0/11.9 MB 14.7 MB/s eta 0:00:01
     ---------------------- ----------------- 6.7/11.9 MB 15.2 MB/s eta 0:00:01
     ------------------------ --------------- 7.2/11.9 MB 14.4 MB/s eta 0:00:01
     ------------------------- -------------- 7.5/11.9 MB 14.2 MB/s eta 0:00:01
     -------------------------- ------------- 7.8/11.9 MB 13.5 MB/s eta 0:00:01
     --------------------------- ------------ 8.0/11.9 MB 12.8 MB/s eta 0:00:01
     --------------------------- ------------ 8.2/11.9 MB 12.5 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 12.0 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 11.8 MB/s eta 0:00:01
     ----------------------------- ---------- 8.9/11.9 MB 11.3 MB/s eta 0:00:01
     ------------------------------ --------- 9.1/11.9 MB 11.0 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 10.9 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 10.6 MB/s eta 0:00:01
     --------------------------------- ------ 9.9/11.9 MB 10.3 MB/s eta 0:00:01
     --------------------------------- ----- 10.1/11.9 MB 10.2 MB/s eta 0:00:01
     --------------------------------- ----- 10.3/11.9 MB 10.6 MB/s eta 0:00:01
     ---------------------------------- ---- 10.6/11.9 MB 10.7 MB/s eta 0:00:01
     ----------------------------------- --- 10.9/11.9 MB 10.4 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 9.9 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 9.8 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 9.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 9.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=1b5264434aea8f497ba906058d76416fa16174878d72c32030bce7f8a32a7380
  Stored in directory: c:\users\pande\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [4]:
import mysql.connector

In [5]:
mysql.connector.connect(host='localhost',user='root',password='',database='world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [6]:
pd.read_sql_query("SELECT* FROM city",conn)

NameError: name 'conn' is not defined

In [ ]:
df = pd.read_sql_query("SELECT* FROM countrylanguage",conn))